---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Layout from '../../layouts/Layout.astro'
import H1 from '../../components/H1.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';

const posts = (await getCollection('posts')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout>
	<Breadcrumbs />
	<H1>Posts</H1>
	<p class="italic mt-2 mb-4">All the articles I've posted.</p>
	<section>
		<ul class="mt-8">
			{
			posts.map((post) => (
				<li class="card w-90 bg-base-200 p-0 shadow-xl my-4">
					<a href={`/posts/${post.slug}/`} class="card-body p-4">
						<h2 class="card-title font-medium text-accent decoration-dashed hover:underline">{post.data.title}</h2>
						<FormattedDate date={post.data.pubDate} />
						<p>{post.data.summary}</p>
					</a>
				</li>
			))
			}
		</ul>
	</section>
</Layout>

