---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import H1 from '../components/H1.astro';
import Layout from '../layouts/Layout.astro';
import SocialIcons from '../components/SocialIcons.astro';
import HtmlIcon from '../components/technologies/HtmlIcon.astro';
import JavascriptIcon from '../components/technologies/JavascriptIcon.astro';
import TypescriptIcon from '../components/technologies/TypescriptIcon.astro';
import ReactIcon from '../components/technologies/ReactIcon.astro';
import CsharpIcon from '../components/technologies/CsharpIcon.astro';
import DotnetCoreIcon from '../components/technologies/DotnetCoreIcon.astro';
import AngularIcon from '../components/technologies/AngularIcon.astro';
import PostgresSqlIcon from '../components/technologies/PostgresSqlIcon.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Layout>
	<section class="border-2 border-b-primary border-t-transparent border-x-transparent pb-4 border-solid">
		<H1 class="text-left">Hi, I am <span class="text-primary">Kyle Ross</span>.</H1>
		<H1 class="text-left">I am a full-stack web developer.</H1>
		<p class="my-4">I'm an accomplished Full Stack Developer with a proven track record in designing, developing, and maintaining responsive websites. My proficiency spans a wide range of technologies, enabling me to deliver high-quality software solutions.</p>
		<div class="flex items-center flex-wrap">
			<span>My skills include:</span>
			<HtmlIcon />
			<JavascriptIcon />
			<TypescriptIcon />
			<ReactIcon />
			<CsharpIcon />
			<DotnetCoreIcon />
			<AngularIcon />
			<PostgresSqlIcon />
		</div>
		<div class="flex items-center my-4"> 
			<div class="mr-2">Social Links:</div>
			<SocialIcons />
		</div>
	</section>
</Layout>
