---
const today = new Date();
import SocialIcons from './SocialIcons.astro';
---

<footer class="mt-auto bg-base-200">
	<div class="footer items-center max-w-screen-xl mx-auto p-4">
		<aside class="items-center grid-flow-col">
			<p>&copy; {today.getFullYear()} Kyle Ross. All rights reserved.</p>
		</aside>
		<SocialIcons />
	</div>
</footer>
