
---
import HeaderLink from './HeaderLink.astro';
---

<li><HeaderLink href="/posts">Posts</HeaderLink></li>

<li><HeaderLink href="/projects">Projects</HeaderLink></li>
<li><HeaderLink href="/work-history">Work History</HeaderLink></li>
<li><HeaderLink href="/contact">Contact</HeaderLink></li>
