---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Layout from '../layouts/Layout.astro';

type Props = CollectionEntry<'posts'>['data'];

const { pubDate, updatedDate } = Astro.props;
---

<Layout>
	<article class="w-full">
		<div class="prose w-full max-w-full">
			<div class="title">
				<div class="date">
					<FormattedDate date={pubDate} />
					{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
					}
				</div>
			</div>
			<slot />
		</div>
	</article>
</Layout>
